logs
misc
vCheck-UCS-master
vCheck-vSphere-master
commands.txt
Groups.txt
IQN.txt
ListInactiveUsers.vbs
ListInstallDate.vbs
ListInstalledSoftware.vbs
massmove.txt
massmoveALL.txt
out.csv
servers.txt
vCheck-vSphere-master-vcsa01
